<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Thay đổi thông tin</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="ADMIN" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Tài khoản">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Địa chỉ Email" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Họ" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Tên" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Địa chỉ" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Thành phố" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Quốc gia" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Số CMND" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <label>Thông tin thêm</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Bao gồm sở thích, sở trường, nghề nghiệp, ..."></textarea>
                                   </mat-form-field>
                                </div>
                            </div>
                            <button class="btn btn-danger btn-round" type="submit" class="btn btn-danger pull-right">Thay đổi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="assets/user.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">ADMIN</h6>
                        <h4 class="card-title">Nguyễn Minh Sơn</h4>
                        <p class="card-description">
                            Sinh viên lớp DHCN4A. Trường Đại học thông tin liên lạc.
                        </p>
                        <a href="facebook.com/nmsdzbmt" class="btn btn-danger btn-round">Liên Hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
