
        <footer>
            <div class = "footer-container">
                <div class = "footer-left">
                    <h2>TECHNEWS</h2>
                    <p>Website được nghiên cứu và thiết kế bằng công nghệ ABP framework và AngularJs. Mọi bài viết và thông tin trên website được tham khảo tại Techz.vn</p>
                </div>

                <div class = "footer-right">
                    <h2>Liên Hệ</h2>
                    <p>Trường Đại Học Thông Tin Liên Lạc</p>
                    <p>Khoa Công nghệ thông tin - Tác chiến không gian mạng</p>
                    <p>Nguyễn Minh Sơn - Sinh viên lớp DHCN4A - MSV: 17DC019 - Mail: nmsdzbmt@gmail.com</p>
                    <div style="width:80%">
                        <input type = "text"  placeholder = "Email Address">
                        <i class = "fas fa-envelope"></i>
                    </div>
                </div>
            </div>

            <p>Copyright &copy; 2021 | Minh Sơn</p>
        </footer>